In this EDA file we will be using as an input a car advertisement dataset, the vehicles_us.csv file, which has secondhand car sales data in terms of model year, transmission type, model, fuel, etc... to perform some exploratory data analysis (EDA) in order to clean and understand the most important insights of such dataset.

In [29]:
# First we start by importing pandas, matplotlib and plotly libaries

import pandas as pd
import plotly.express as px
from matplotlib import pyplot as plt

# Then we load the vehicle_us data from the CSV file into a vehicles_df dataframe

vehicles_df = pd.read_csv('../vehicles_us.csv')

# We display vehicles_df dataframe information

vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

It seems that there are missing values in some of the columns within the dataframe ('model_year', 'cylinders', 'odometer', 'paint_color' and 'is_4wd'). Therefore, we will be making some changes in the dataframe to treat the missing values and to change the column types to appropiate datatypes.

In [30]:
# Fills missing values in 'model_year' column with value of 0 and converts entire column to integer type 
vehicles_df['model_year'] = vehicles_df['model_year'].fillna('0').astype('int')

# Fills missing values in 'cylinders' column with value of 0 and converts entire column to integer type
vehicles_df['cylinders'] = vehicles_df['cylinders'].fillna('0').astype('int')

# Fills missing values in 'odometer' column with value of 0 and converts entire column to integer type
vehicles_df['odometer'] = vehicles_df['odometer'].fillna('0').astype('int')

# Fills missing values in 'paint_color' column with string "Not specified" and converts entire column to string type
vehicles_df['paint_color'] = vehicles_df['paint_color'].fillna('Not specified').astype('str')

# Fills missing values in 'is_4wd' column with '2wd' and converts entire column to string type
vehicles_df['is_4wd'] = vehicles_df['is_4wd'].fillna('2wd').astype('str')

# Replaces values of 1 (assuming 1 = vehicle is 4wd) with '4wd'
vehicles_df['is_4wd'] = vehicles_df['is_4wd'].replace(['1.0'], '4wd')

# Checking that the dataframe has no longer missing values
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  int32
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  int32
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  int32
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  object
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: int32(3), int64(2), object(8)
memory usage: 4.5+ MB

Let's have a closer look at the 'price' column of the dataframe (the max, min and average) to understand better if the price values of the vehicles are reasonable and display only the entries with reasonable prices ( < 80000 USD for example).

In [31]:
print(vehicles_df['price'].max())
print(vehicles_df['price'].min())
print(vehicles_df['price'].mean())

375000
1
12132.464919941776

We see that the max value is 375000 USD which is highly excessive compared to vehicles market values. Therefore, we will only display the dataframe entries with reasonable prices ( < 80000 USD).

In [32]:

# First we remove the entries from the vehicles_df dataframe which price is above 80000
vehicles_df.drop(vehicles_df.loc[vehicles_df['price'] > 80000].index, inplace=True)

# Then we reset the index values
vehicles_df = vehicles_df.reset_index(drop=True)

# Check again the dataframe information to have an overall understanding after the removed entries operation
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51504 entries, 0 to 51503
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51504 non-null  int64
 1   model_year    51504 non-null  int32
 2   model         51504 non-null  object
 3   condition     51504 non-null  object
 4   cylinders     51504 non-null  int32
 5   fuel          51504 non-null  object
 6   odometer      51504 non-null  int32
 7   transmission  51504 non-null  object
 8   type          51504 non-null  object
 9   paint_color   51504 non-null  object
 10  is_4wd        51504 non-null  object
 11  date_posted   51504 non-null  object
 12  days_listed   51504 non-null  int64
dtypes: int32(3), int64(2), object(8)
memory usage: 4.5+ MB